<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="true"
  backupGlobals="false"
  backupStaticAttributes="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
>
  <testsuites>
    <testsuite name="Units">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <coverage processUncoveredFiles="false">
    <include>
      <directory suffix=".php">src</directory>
    </include>

    <report>
      <html outputDirectory="tmp/coverage" lowUpperBound="20" highLowerBound="50"/>
    </report>

    <exclude>
      <directory>vendor</directory>
      <directory>build</directory>
      <directory suffix="Interface.php">src</directory>
      <directory suffix="index.php">src</directory>
    </exclude>

  </coverage>

  <php>
    <env name="XDEBUG_MODE" value="coverage" force="true"/>

    <env name="COMPILE_CONTAINER" value="true" force="true"/>
    <env name="PATH_CONTAINER_DEFINITION" value="container.php" force="true"/>

    <env name="COMPILE_ROUTES" value="true" force="false"/>
    <env name="PATH_ROUTES_DEFINITION" value="routes.php" force="true"/>
    <env name="PATH_ROUTES_CACHE" value="routes.php" force="true"/>
    <env name="PATH_MIDDLEWARES_DEFINITION" value="middlewares.php" force="true"/>

    <env name="LOGGER_NAME" value="micro_logger" force="true"/>
    <env name="LOGGER_PATH" value="logs" force="true"/>
    <env name="LOGGER_LEVEL" value="100" force="true"/>

    <env name="DISPLAY_ERROR_DETAILS" value="true" force="true"/>
    <env name="LOGS_ERRORS" value="true" force="true"/>
    <env name="LOG_ERROR_DETAILS" value="true" force="true"/>

  </php>

</phpunit>
